.body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.card_title {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.input {
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(82, 82, 82)
}

.button {
    height: fit-content;
    width: fit-content;
    padding: 10px 15px;
    margin-top: 10px;
    align-self: flex-end;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
    border-color: rgb(82, 82, 82);
}

.button_text {
    margin: 0;
    padding: 0;
}